button {
  background: white;
  color: black;
  border: none;
  border-radius: 0.2em;
  padding: 5px 10px;
}

button:hover {
  opacity: 0.6;
}

button.black {
  background: black;
  color: white;
}

p.success {
  background: mediumseagreen;
  border: 1px solid mediumseagreen;
  color: darkgreen;
  padding: 5px;
  border-radius: 0.2em;
}