.encabezado {
  height: 400px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center;
  padding: 20px;
}

.cuerpo {
  display: flex;
  flex-direction: row;
}

@media(max-width: 960px) {
.cuerpo {
  display: flex;
  flex-direction: column;
}
}
